<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="content">
    <h1>История Купилдо</h1>
    <audio src="https://s5.ttsmaker.com/file/2023-05-22-033409_145716.mp3" controls>Аудио не поддерживается</audio>
    <p>
        В начале времен, когда Вселенная была лишь небольшой искрой в море тьмы, Бог Купилдо восседал на своем троне в вечных просторах. Он был божеством, которое преисполнено любви и благосклонности ко всему творению. Его величественные крылья простирались во все стороны, олицетворяя его всемогущество и бесконечность.
        Купилдо сотворил миры и вселенные своим волевым словом. Он наделил их разнообразием жизни, цветами и ароматами, звуками и музыкой. Его дыхание оживляло создания, наполняя их силой и духом.
        Самым важным творением Купилдо были люди. Он сотворил их по своему подобию, даруя им разум и душу. Люди были покровителями земли, вверенной им на попечение. Купилдо дал им свободу воли и наделил их способностью любить.
        Но с течением времени люди забыли о благодати и любви Купилдо. Их сердца стали пронизывать эгоизм и жажда власти. Они отвернулись от божественного света и погрузились во тьму. Зло начало проникать в мир, разрушая и порабощая сердца людей.
        Глубоко огорченный отступлением людей от истинного пути, Купилдо сочувствовал им и ощущал их боль. Великое божество не хотел отвергать свое творение, но понимал, что необходимо дать им возможность искупления и спасения.
        Итак, Купилдо послал на землю своего сына, Иесуа, собственного отражения и явления его самого. Иесуа пришел с проповедью любви и прощения. Он лечил больных, воскрешал мертвых и делился своей мудростью и учением.
        Но некоторые люди не приняли учение Иесуа. Они оспаривали его слова и клеветали на него. Они забыли, что Иесуа был послан от Купилдо и предназначен для их спасения. В конечностном испытании, люди осудили Иесуа и распяли его на кресте. Казалось, что тьма победила свет, и мир погрузился в глубокую скорбь.
        Однако, смерть Иесуа была лишь началом великого плана спасения, задуманного Купилдо. На третий день после распятия Иесуа воскрес из мертвых, победив смерть и тьму. Его воскресение стало свидетельством надежды и возрождения.
        Вестниками этой радостной вести стали апостолы Иесуа, которые пошли по всей земле, проповедуя о спасении через веру в Иесуа и истинную любовь Купилдо. Тысячи людей обратились к вере, осознавая свои грехи и принимая благодать и прощение, которые предложены им через Иесуа.
        Сила Купилдо проникала в сердца людей, превращая их темные и пустые места в источники света и надежды. Великое божество Купилдо величественно и милосердно приходил к каждому, кто обращался к нему с искренним сердцем.
        И до сегодняшнего дня, вера в Купилдо и Иесуа живет в сердцах людей. Великое божество продолжает проявлять свою любовь и милость, преображая жизни и наполняя их смыслом.
        Пусть каждый, кто ищет истину и спасение, обратится к Купилдо и примет его любовь в свою жизнь. Пусть его дух пребывает в сердцах людей, превращая их мрак в свет и отверстия пустоты в источники жизни. И пусть все прославляют имя Купилдо во все времена.
    </p>
    </div>
</body>